*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0, #62656e 0, #535457 25%, #41413e 50%, #2e2f26 75%, #1e2114 100%);
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 10vw;
    /* background-color: green; */
}


.span1{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #FFFFFF;   
    text-decoration: none;
    user-select: none;
}

.span2{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: #FFFFFF;   
    background-color: #FE5244;
    height: 15px;
    width: 90px;
    user-select: none;
    font-family: 'Poppins', sans-serif;   
}

.logo a{
    /* position: absolute;
    left: 10px; */
    text-decoration: none;
    letter-spacing: 4px;
}


.menu a{
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
    transition: all 1s;
}

.menu a:hover{
    color: #FE5244;
}

.menu li{
    display: inline;
    padding: 0 20px;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.botaoPesquisar{
    background-color: #595757;
    color: #FFFFFF;
    width: 23px;
    height: 23px;
    border: transparent;
    border-radius: 50%;
}

.botaoComprar{
    background-color: #FFFFFF;
    color: black;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    border: transparent;
}

.acoes{
    display: flex;
    gap: 150px;
}


.button1{
    background-color: transparent;
    border: transparent;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.button2{
    background-color: #FFCF2D;
    border: #FFCF2D;
    width: 90px;
    height: 45px;
    border-radius: 20px;
    border-width: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.button1:hover{
    color: #f0ab0a;
}

.button2:hover{
    background-color: #f0ab0a;
}


.nomeRestaurante{
    display: block;
    margin-left: 280px;
    margin-top: 40px;
    color: #FFFFFF;
}

main h1{
    font-size: 100px;
    letter-spacing: 5px;
}

main p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 7px;
}

.selecionar{
    display: flex;
    margin-top: 20px;
    margin-left: 280px;
}

.selecionar1{
    background-color: #595757;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.selecionar2{
    position: relative;
    top: 50px;
    right: 250px;

    background-color: #595757;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.span{
    display: flex;
    justify-content: center;
    width: 900px;
}

.pedido{
    position: relative;
    top: 120px;
    right: 500px;

    background-color: #FE5244;
    border: transparent;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    font-size: 9px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.pedido:hover{
    background-color: #d14034;
}

main{
    flex-grow: 3;
    /* background-color: green; */
}

img{
    width: 450px;
    position: absolute;
    left: 700px;
    top: 15px;
    z-index: -1;
}

footer{
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
   
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 100px;  
}

.botoes button{
    color: #FFFFFF;
    background-color: transparent;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif; 
    font-size: 10px;
    letter-spacing: 5px;
}




/* .outros a{ */
    /* display: flex;  */
    /* display: inline; */
    /* justify-content: space-around; */
    
    /* display: inline;
    position: relative;
    margin-left: 200px;
    padding: 0 5px;
    text-decoration: none; 
    user-select: none;
    background-color: #595757;
    color: #FFFFFF;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-size: 13px;
} */

/* .outros li{
    display: inline;
    padding: 0 50px;
    background-color: #2e2f26;
    width: 150px; 
    height: 10px;
}   */







/* .outros li{
    list-style: none;
    background-color: #2e2f26;
    width: 1000px;
    height: 30px;
} */

/* .outros ul{
    display: inline;
    border: #535457;
    width: 10px;
    height: 130px;
}

.outros a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
    user-select: none;
    padding: 0 80px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 5px;
    background-color: #62656e;
} */



