*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0, #62656e 0, #535457 25%, #41413e 50%, #2e2f26 75%, #1e2114 100%);
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 10vw;
    /* background-color: green; */
}


.span1{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #FFFFFF;   
    text-decoration: none;
    user-select: none;
}

.span2{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: #FFFFFF;   
    background-color: #FE5244;
    height: 15px;
    width: 90px;
    user-select: none;
    font-family: 'Poppins', sans-serif;   
}

.logo a{
    /* position: absolute;
    left: 10px; */
    text-decoration: none;
    letter-spacing: 4px;
}

.menu a{
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
    transition: all 1s;
}

.menu a:hover{
    color: #FE5244;
}

.menu li{
    display: inline;
    padding: 0 20px;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.botaoPesquisar{
    background-color: #595757;
    color: #FFFFFF;
    width: 23px;
    height: 23px;
    border: transparent;
    border-radius: 50%;
}

.botaoPesquisar:hover{
    background-color: #41413e;
}

.botaoComprar{
    background-color: #FFFFFF;
    color: black;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    border: transparent;
}

.botaoComprar:hover{
    background-color: antiquewhite;
}

.acoes{
    display: flex;
    gap: 150px;
}

.buttonEntrar{
    background-color: transparent;
    border: transparent;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.buttonInscrever{
    background-color: #FFCF2D;
    border: #FFCF2D;
    width: 100px;
    height: 45px;
    border-radius: 20px;
    /* border-width: 5px; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.buttonEntrar:hover{
    color: #f0ab0a;
}

.buttonInscrever:hover{
    background-color: #f0ab0a;
}


.nomeRestaurante{
    display: block;
    margin-left: 280px;
    margin-top: 40px;
    color: #FFFFFF;
}

main h1{
    font-size: 100px;
    letter-spacing: 5px;
}

main p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 5px;
}

.selecionar{
    display: flex;
    margin-top: 20px;
    margin-left: 280px;
}

.selecionarCidade{
    background-color: #595757;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.selecionarComida{
    position: relative;
    top: 50px;
    right: 300px;

    background-color: #595757;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

/* .seta-baixo{
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    height: 50px;
} */

.pedido{
    position: relative;
    top: 120px;
    right: 600px;

    background-color: #FE5244;
    border: transparent;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.pedido:hover{
    background-color: #d14034;
}

main{
    flex-grow: 3;
    /* background-color: green; */
}

.lanche-principal{
    width: 450px;
    position: absolute;
    left: 700px;
    top: 15px;
    z-index: -1;
}

.setas-direita-esquerda{
    position: absolute;
    top: 70%;
    left: 83%;
}

.button-left{
    background-color: #424346;
    border-radius: 50%;
    border: transparent;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
}

.button-left:hover{
    background: #d14034;
}

.button-right{
    background-color: #424346;
    border-radius: 50%;
    border: transparent;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
}

.button-right:hover{
    background: #d14034;
}

.indicador{
    width: 200px;
    top: 450px;
    transform: rotate(30deg);
}


footer{
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
   
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 100px;  
}

.botoes button{
    color: #FFFFFF;
    background-color: #41413e;
    border-radius: 50px;
    border: transparent;
    width: 120px;
    height: 40px;
    font-family: 'Poppins', sans-serif; 
    font-size: 10px;
    letter-spacing: 5px;
}

.burguer-footer{
    position: absolute;
    width: 60px;
    left: 257px;
    top: 535px;
}

.salad-footer{
    position: absolute;
    width: 60px;
    left: 478px;
    top: 535px;
}

.pizza-footer{
    position: absolute;
    width: 60px;
    left: 700px;
    top: 535px;
}

.suco-footer{
    position: absolute;
    width: 40px;
    left: 930px;
    top: 530px;
}